<div>
    <h2>{{restaurant.name}}</h2>
    <img class="item-img" src="{{restaurant.image}}" />
    <div>
        <button id='details-btn'>Show Other Restaurants</button>
        <button id='menu-btn'>Show Menu</button>
        <button id="delete-btn">Delete</button>
        <h3>Click Below button: <span id="like-counter">{{restaurant.likes}}</span></h3>
        <button id="like-btn">Like the Restaurant</button>
    </div>
    <div id='menu'></div>
    <ul id='list'></ul>
    <script src="/script.js"></script>
</div>

 

